/* Write your CSS here */

.bg-container {
  background-color: #f1f5f8;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #2d3a35;
  font-family: Roboto;
  font-weight: 600;
}

.count {
  color: #c20a72;
}

.para-text {
  color: #2d3a35;
  font-family: Roboto;
  font-weight: 300;
}

.click-me-btn {
  background-color: #007bff;
  border: none;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  font-family: Roboto;
  margin-top: 15px;
  border-radius: 10px;
}


@media screen and (max-width:768px) {
  .heading {
    font-size: 20px;
    text-align: center;
  }
  .para-text {
    font-size: 12px;
  }
  .click-me-btn {
    font-size: 10px;
    width: 70px;
    height: 20px;
  }
}

@media screen and (min-width:768px) {
  .heading {
    font-size: 40px;
    text-align: center;
  }
  .para-text {
    font-size: 22px;
  }
  .click-me-btn {
    font-size: 20px;
    width: 120px;
    height: 40px;
  }
}